.footer{
    border-top: 1px;
    border-top-color: black;
    border-top-style: solid;
    padding: 10px;
    text-align: right;
    font-size: 40px;
}

#linkedin{
    color: #0e76a8;
}

#git{
    color: #fff;
    text-decoration: none;
}

#name{
    margin-bottom: 0px;
}

#addressAndMail{
    font-size: 13px;
    margin-bottom: 10px;
}

#mail{
    color: rgb(84, 1, 139);
}

#nav{
    background: #1d1c1c;
    color: rgb(84, 1, 139);
}

body{
    background: #272727;
    color: #747474;
}

p{
    color: #747474;
}

#navHead{
    color: rgb(114, 3, 189);
}

.header{
    color: rgb(114, 3, 189);
    text-transform: uppercase;
    text-align: center;
}

.jumbotron{
    background:#1F1F1D;
    height: 375px;
    padding: 2rem;
    border-radius: 6rem;
    margin-top: 20px;
}

.image{
    height: 225px;
    border: solid rgb(114, 3, 189) 8px;
    border-radius: 7rem;
}

.icon{
    padding: 10px;
    color: #747474;
}

.profile{
    margin-bottom: 50px;
    color: rgb(114, 3, 189);
}

.skills{
    margin-bottom: 50px;
    color: rgb(114, 3, 189);
}

.projects{
    color: rgb(114, 3, 189);
    margin-bottom: 100px;
}

.project-screenshot{
    height: 100px;
    width: 200px;
    border: solid 5px rgb(114, 3, 189);
    border-radius: 2rem;
}

.da{
    font-size: 95px;
}

#da-new{
    color: rgb(114, 3, 189);
}

.project-description{
    margin: auto;
}
